:root {
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.75);
  --bgPrimary: #0e172a;
  --bgSecondary: #14213d;
  --blue: #0071bd;
  --border-radius: 20px;
}
/*General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgPrimary);
}
.app {
  overflow: hidden;
  font-family: "Comfortaa", cursive;
}

a:hover {
  color: var(--blue);
}

.ant-typography {
  color: var(--text-primary) !important;
}
.ant-statistic-title {
  color: var(--text-secondary) !important;
}
.search-input {
  margin-bottom: 30px;
  width: 250px;
}
.search-input input {
  background-color: #141d30;
  border-radius: var(--border-radius);
  height: 45px;
  width: 300px;
  font-size: 12px;
  text-indent: 10px;
  color: var(--text-secondary);
}
.search-input input:hover,
.search-input input:focus {
  background-color: #141d30;
}

.search-input input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search-input input:focus::-moz-placeholder {
  opacity: 0;
}
.search-input input:focus:-ms-input-placeholder {
  opacity: 0;
}
.search-input input:focus::-ms-input-placeholder {
  opacity: 0;
}
.search-input input:focus::placeholder {
  opacity: 0;
}

.select-input {
  min-width: 250px;
  background-color: #141d30;
  color: var(--text-primary);
  border-radius: var(--border-radius);
  font-size: 12px;
  margin: 20px 0;
}
.ant-select-arrow {
  color: var(--text-primary);
}
.ant-select-dropdown {
  border-radius: var(--border-radius);
  background-color: #141d30;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: var(--text-primary);
  background-color: var(--bgSecondary);
}

.ant-select-item {
  color: rgba(255, 255, 255, 0.5);
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--bgSecondary);
  color: var(--text-primary);
}

.ant-empty-description {
  color: var(--text-primary);
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General Style */

.header {
  background-color: var(--bgPrimary);
  height: 53px;
}
.content {
  background-color: var(--bgPrimary);
  color: var(--text-primary) !important;
}

.routes {
  padding: 20px;
}
.sider {
  background-color: var(--bgPrimary);
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0px;
}

.logo-container {
  background-color: var(--bgPrimary);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo {
  margin-top: 10px;
}
.logo a {
  color: white;
}
.menu {
  background-color: var(--bgPrimary) !important;
  border-right: 0 !important;
  color: #94a4c4 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.ant-menu-item a {
  color: #94a4c4;
}
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: var(--blue);
}

.ant-layout-footer {
  padding: 0px 0px;
  background-color: var(--bgPrimary);
}
.ant-card {
  background-color: var(--bgSecondary);
  border-radius: var(--border-radius);
}

.ant-card-head {
  border-bottom: 1px solid #85a5ff;
  color: var(--text-primary);
}
.ant-card-body {
  color: var(--text-secondary);
}

.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 700;
  color: var(--blue);
}

.coin-heading-container p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--blue);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}
.coin-details-text {
  margin-top: 20px;
  font-size: 14px !important;
  color: var(--text-secondary);
}
.coin-details-text h3 {
  color: var(--text-secondary);
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 700;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--blue);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--blue);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
  border-radius: var(--border-radius);
}

.heading {
  margin-bottom: 20px !important;
}

.news-card {
  min-height: 250px;
}
.news-image-container {
  display: flex;
  justify-content: space-between;
}
.news-title {
  font-size: 14px !important;
  width: 60%;
}
.news-description {
  color: var(--text-secondary);
  margin: 20px 0px;
}

.news-image-container img {
  width: 100px;
  height: auto;
  max-height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 7px;
  font-size: 12px;
}
.provider-img {
  width: 25px !important;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.date-published {
  font-size: 12px;
  align-self: center;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: var(--blue);
}
.chart-title {
  color: var(--blue) !important;
}
.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change {
  font-weight: 700 !important;
}
.current-price {
  margin-top: 0px !important;
  font-weight: 700 !important;
}
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 40px;
}
.show-more {
  margin-top: 0px !important;
}
.exchange-image {
  margin: 0px 10px !important;
}

.crypto-card-container {
  min-height: 65vh !important;
}
.crypto-card {
  min-width: 250px;
}
.crypto-card .crypto-image {
  width: 35px;
}

.ant-table {
  color: var(--text-secondary);
  background: transparent;
}
.ant-table-thead > tr > th {
  color: var(--text-primary);
  background: transparent;
  border-bottom: 0;
}
.ant-table-tbody > tr > td {
  border-bottom: 0;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: var(--bgSecondary);
}
.ant-table-tbody > tr.ant-table-row:hover > td:last-child,
.ant-table-tbody > tr > td.ant-table-cell-row-hover:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.ant-table-tbody > tr.ant-table-row:hover > td:first-child,
.ant-table-tbody > tr > td.ant-table-cell-row-hover:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.ant-tag-green,
.ant-tag-red {
  background: transparent;
}

.ant-pagination-item a {
  color: var(--text-primary);
}
.ant-pagination-item {
  background-color: transparent;
  border: 1px solid var(--bgSecondary);
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: var(--bgSecondary);
  border: 0;
}
.ant-pagination-prev button,
.ant-pagination-next button {
  color: var(--text-primary);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

/* Media Query */
@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .ant-table-tbody > tr > td {
    min-width: 220px;
  }
  .ant-table-content {
    overflow-x: scroll;
  }
  .home-title,
  .heading {
    font-size: 1.2rem !important;
  }
  .show-more {
    font-size: 1rem !important;
  }
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 676px) {
  .home-heading-container,
  .provider-container,
  .coin-stats,
  .coin-link {
    flex-direction: column;
    align-items: flex-start;
  }
  .news-image-container img {
    display: none;
  }
  .news-title {
    width: 100%;
  }

  .date-published {
    align-self: flex-start;
    margin-top: 10px;
  }

  .stats {
    margin-top: 5px;
  }
  .coin-desc-link p {
    font-size: 12px;
  }
  .coin-desc-link h3 {
    font-size: 14px;
  }
}
